body {
    font-size: 16px;
    font-family: Arial, sans-serif;
}

img {
    max-width: 100%;
    display: block;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    max-width: 960px;
    margin: 0 auto;
}

.texto {
    align-self: center;
}

p {
    max-width: 60ch;
}

.cover img {
    height: 100%;
    object-fit: cover;
    object-position: top right;
}