body {
    font-size: 16px;
    font-family: Arial, sans-serif;
}


a {
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: none;
    background: #caf;
    color: #217;
}

a:hover {
    background: #adf;
    color: #147;
}

a:focus {
    background: #cfa;
    color: #371;
    border: 3px solid #371;
}

a:active {
    background: #ffa;
    color: #761;
    border: 1px dashed #761;
}

/* a:visited {
    background: #fda;
    color: #731;
    border: 1px dashed #731;
} */

.lista-1 li {
    background: #ffa;
}

.lista-1 li:first-child {
    background: #caf;
}

.lista-1 li:last-child {
    background: #cfa;
}

.lista-2 li:nth-child(even) {
    background: #cfa;
}

.lista-2 li:nth-child(3n) {
    font-weight: bold;
    font-style: italic;
    font-size: 2rem;
}

.lista-2 li:not(:nth-child(2n), .quinto) {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: tomato;
}