body {
    font-size: 16px;
    font-family: Arial, sans-serif;
}

img {
    max-width: 100%;
    display: block;
}

div {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 2rem;
}