.header-bg {
    background: var(--cor-12);
}

.header {
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.header a img {
    margin: 10px;
}

.header-menu {
    flex-wrap: wrap;
    display: flex;
    gap: 40px;
}

.header-menu a {
    font-size: 18px;
    padding: 16px 16px;
    display: inline-block;
    font-family: Poppins;
    font-weight: 400;
}

.header-menu li {
    position: relative;
}

.header-menu li::after {
    content: '';
    display: block;
    height: 2px;
    width: 0%;
    bottom: 5px;
    transition: 0.5s;
    background: var(--cor-0);
    position: absolute;
}

.header-menu li:hover:after {
    width: 100%;
}

@media (max-width: 800px) {
    .header-menu {
        gap: 20px;
    }

    .header-menu a {
        background: var(--cor-11);
        padding: 12px 16px;
        border-radius: 4px;
    }

    .header-menu a:hover {
        background: var(--cor-10);
    }

    .header-menu li::after {
        display: none;
    }
}

@media (max-width: 600px) {
    .header-menu {
        gap: 12px;
    }

    .header-menu a {
        padding: 14px 12px;
        font-size: 16px;
    }
}