.bicicletas-bg {
    background: var(--cor-11);
}

.bicicletas {
    display: grid;
    gap: 40px;
    padding-top: 60px;
    padding-bottom: 60px;
    grid-template-columns: 1fr 1fr;
}

.bicicletas-imagem {
    position: relative;
}

.bicicletas-imagem span {
    display: block;
    padding: 8px 16px 8px 8px;
    background: var(--cor-12);
    position: absolute;
    top: 20px;
    right: 0;
}